<div class="home__container">
  <app-card
  gameCover="assets/game2.jpeg"
  gameLabel="multiplayer"
  gameType="PS5"
  gamePrice="€36"
  ></app-card>

  <app-card
  gameCover="assets/game3.jpg"
  gameLabel="multiplayer"
  gameType="PS5"
  gamePrice="€45"
  ></app-card>

  <app-card
  gameCover="assets/game0.jpg"
  gameLabel="multiplayer"
  gameType="PS5"
  gamePrice="€45"
  ></app-card>

  <app-card
  gameCover="assets/game4.jpg"
  gameLabel="multiplayer"
  gameType="P4S"
  gamePrice="€20"
  ></app-card>

  <app-card
  gameCover="assets/game1.jpg"
  gameLabel="multiplayer"
  gameType="PS3"
  gamePrice="€15"
  ></app-card>

  <app-card
  gameCover="assets/game5.jpg"
  gameLabel="multiplayer"
  gameType="PS2"
  gamePrice="€15"
  ></app-card>

</div>
