<div class='menu-bar__container'>
  <div class='menu-bar__logo'>
    <img src="assets/ps-logo.png" alt="" width="140px" height="32px">
  </div>
  <div class='menu-bar__toggle' id='menuToggle'>
    <div class='menu-bar__bar'></div>
    <div class='menu-bar__bar'></div>
    <div class='menu-bar__bar'></div>
  </div>
  <div class='menu-bar__item' id='menuItems'>
    <ul>
      <li><a href="">SOBRE</a></li>
      <li><a href="">SAIBA MAIS</a></li>
      <li><a href="">CONTATO</a></li>
    </ul>
  </div>
</div>
